{% extends "base.html" %}

{% block content %}
{% load i18n %}
<div class="container">
    <h2>{% trans "Избранные посты" %}</h2>
    <div class="row">
        {% for fav in favorites %}
        <div class="col-lg-3">
            <div style="margin-bottom:20px;">
                <a href="{% url 'post_detail' fav.article.slug %}">
                    <img src="{{ fav.article.image.url }}" width="220px"> 
                    <h4>{{ fav.article.title }}</h4>
                </a>
            </div>
        </div>
    {% empty %}
        <p>{% trans "Нет избранных постов" %}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}