header h3{
    margin-top: 10px;
    color: white;
    text-transform: uppercase;
    margin-left: 10px;
}
header{
    align-items: center;
}
.headerBlock a{
    color: white;
    background-color: #1c55e4;
    margin-left: 5px;
}
.headerBlock a:hover{
    color: white;; 
    background-color: #644afb;
}

.footerStyle a{
    color: rgb(228, 224, 224)!important;
} 
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}