{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        {% for art in page_obj %}
            <div class="col-lg-6">
                <a href='{% url "post_detail" art.slug %}'>
                    <img width="100%" class="img-thumbnail" src="{{art.image.url}}">
                    <h2>{{art.title}}</h2>
                    <p>{{art.description|truncatewords:12}}</p>
                </a>
            </div>
        {% endfor %}
    </div>
    <!-- pagination -->  
     <nav class="container" aria-label="Пример навигации по страницам">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">1ая</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{page_obj.previous_page_number}}">
                    Назад
                </a>
            </li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="#">
                Стр {{page_obj.number}} из {{page_obj.paginator.num_pages}}
            </a></li>
            {% if page_obj.has_next %} 
            <li class="page-item">
                <a class="page-link" href="?page={{page_obj.next_page_number}}">Следующая</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{page_obj.paginator.num_pages}}">Последняя</a>
            </li>
            {% endif %}
        </ul>
    </nav> 
</div>
{% endblock content %}