{% extends "base.html" %}

{% block content %}
{% load i18n %}
<div class="container">
    <div class="row">
        <!-- col -->
        <div class="col-lg-9">
            <div class="container">
                <div class="row">
                    {% for art in page_obj %} 
                    <div class="col-lg-4">
                        <div class="card p-2">
                            <a href='{% url "post_detail" art.slug %}'>
                                <img width="300px" class="img-thumbnail" src="{{art.image.url}}">
                                <h4>{{art.title}}</h4>
                                <div class="tags">
                                    {% for tag in art.tags.all %}
                                    <a href="{% url "tag_posts" tag.slug %}">
                                        #{{tag.name}}
                                    </a>
                                    {% endfor %}
                                </div>
                                <p>{{art.description|truncatewords:12|safe}}</p>
                            </a>
                            <p>💚{{art.likes_count}}</p>
                            {% if user.is_authenticated %}
                            <form action='{% url "toggle_like" art.slug %}' method='post'>
                                {% csrf_token %}
                                <button class="btn btn-outline-danger" type="submit">
                                    {% if art.id in liked_ids %}
                                    ♡
                                    {% else %}
                                    💕 
                                    {% endif %}
                                </button>
                            </form>
                            {% else %}
                            <p>Лайкать могут только авторизованные пользователя</p>
                            {% endif %}
                        </div>
                    </div> 
                    {% endfor %}
                </div> 
            </div>
            {% include "pages/pagination.html" %}
        </div>
        <!-- col -->
        <div class="col-lg-3">
            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 380px;">
                <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
                <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-5 fw-semibold">#{% trans "Хештеги" %}</span>
                </a>
                <div class="list-group list-group-flush border-bottom scrollarea">
                {% for tag in tags %}
                <a href="{% url 'tag_posts' tag.slug %}" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
                    <div class="d-flex  w-100 align-items-center justify-content-between">
                    <strong class="mb-1">#{{tag.name}}</strong>
                    <small>({{tag.articles_count}})</small>
                    </div> 
                </a>
                {% endfor %}
                </div>
            </div>
        </div>
        <!-- col -->
    </div>
</div>
{% endblock content %}
    
    
