{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>Результа поиск по запросу: {{query}}</h1>
    <div class="row">
    {% for article in page_obj %}
        <div class="col-lg-4">
            <a href="{% url 'post_detail' article.slug %}"> 
                <img src="{{article.image.url}}" width="300px" alt="">
                <h3>{{article.title}}</h3>
                <p>{{article.description}}</p>
                <div class="tags">
                    {% for tag in article.tags.all %}
                        <a href="{% url 'tag_posts' tag.slug %}">#{{tag.name}}</a>
                    {% endfor %}
                </div>
            </a>
        </div>
    {% empty %}
    <p>Ничего не найдено</p>
    {% endfor %}
    </div>
    <!-- пагинация -->
     <nav class="container">
        <ul class="pagination">
            {% if page_obj.has_previous %} 
            <li class="page-item">
                <a class="page-link" href="?page={{page_obj.previous_page_number}}">Назад</a>
            </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="#">Стр {{page_obj.number}} из {{page_obj.paginator.num_pages}}</a>
            </li>
            {% if page_obj.has_next %} 
            <li class="page-item">
                <a class="page-link" href="?page={{page_obj.next_page_number}}">Следующая</a>
            </li> 
            {% endif %}
        </ul>
    </nav> 
    <!-- пагинация -->
</div>
{% endblock content %}